.weather-bg{
  background: url('./images/weather.jpg');
  height: 50vh;
  background-size: cover;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
     
}

h1{
  color: #fff;
  font-weight: 700 ;
}

.weatherResultBox{
  margin:auto;
  width:500px;
  height:350px;
  background-color: #f8f9fa;
}

.weathericon{
  margin-top:2rem;
  height:100px;
  width:100px;
}


.weatherCity{
font-size: 32px;
}

.weatherTemp{
  font-size:42px;
  font-weight: 700px;
}

.humidityIcon{
  height:100px;
  width:100px;
  float:left;
  border-radius: 50%;
}

.humidityCity{
  font-size: 25px;
  float:left;
  margin-top: 2em;
}

.windIcon{
  height:100px;
  width:100px;
  margin: 5px;
  margin-left:80px;
  
}
.windCity{
  font-size: 25px;
  float: right;
  margin-right:20px;
  margin-top: 2em;
  
}